@use '../../sass/main.scss';

.project {
  padding-bottom: 10vmin;
  margin: 5vmin 0 10vmin 0;

  h2 {
    display: inline-block;
    margin: 0;
  }

  h3 {
    font-weight: 400;
    font-size: 16px;
    margin-top: 0.5em;
    color: main.$grey;
  }
}

.project-border {
  border-bottom: 2px solid main.$blue;
}