@use '../themes';
@use 'variables';

// Global tag styles
html {
  overflow-x: hidden;
  width: 100vw;
}

header, body, footer {
  flex-shrink: 0;
}

body {
  @include themes.theme-aware('background', 'background-color');
  @include themes.theme-aware('color', 'text-color');
  @include themes.transition(all 0.5s ease 200ms);
  flex-grow: 1;
  flex-shrink: 0;
  font-family: variables.$secondary-font;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  @include themes.theme-aware('color', 'text-color');
  @include themes.transition(all 0.5s ease 200ms);

  &:hover {
    @include themes.theme-aware('color', 'text-color');
  }

  .underline {
    @include themes.theme-aware('background-color', 'text-color');
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: variables.$primary-font;
  font-weight: semibold;
  line-height: 1.25;
  margin-bottom: 25px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}

form, input, textarea {
  @include themes.theme-aware('color', 'text-color');
  @include themes.transition(color 0.5s ease 200ms);
  font-family: variables.$primary-font;
}

nav {
  font-family: variables.$primary-font;
}

p {
  font-weight: 400;
}

// Global use classes
.blue-text {
  @include themes.theme-aware('color', 'blue-text');
  @include themes.transition(all 0.5s ease 200ms);
}

.footer-divider {
  @include themes.theme-aware('background-color', 'footer-divider');
  @include themes.transition(all 0.5s ease 200ms);
  height: 1px;
  width: 100%;
}

.footer-logo {
  @include themes.theme-aware('fill', 'logo-color');
  @include themes.theme-aware('stroke', 'logo-color');
  @include themes.transition(all 0.5s ease 200ms);
}

.home-second {
  a, a:hover {
    color: variables.$white;
  }
}

.inner-container {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
}

.logo {
  @include themes.theme-aware('fill', 'logo-color');
  @include themes.theme-aware('stroke', 'logo-color');
  @include themes.transition(all 0.5s ease 200ms);
}

.no-scroll {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}