/* Font Stack */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

$brand-font: 'Jost', sans-serif;

/* Colors */
$light-blue: #5CB8FF;
$blue: #0076cf;
$med-blue: #004b87;
$dark-blue: #002e5d;
$grey: #5b6770;
$dark-grey: #25282a;
$black: #202124;
$white: #fafafa;