/* Font Stack */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

$primary-font: 'Catamaran', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

/* Colors */
$blue: #0076cf;
$dark-blue: #002e5d;
$light-blue: #5CB8FF;
$med-blue: #004b87;

$grey: #5b6770;
$dark-grey: #25282a;

$black: #202124;
$white: #fafafa;