@use './base/variables';

$themes: (
  dark: (
    background-color: variables.$black,
    text-color: variables.$white,
    blue-text: variables.$light-blue,
    logo-color: variables.$white
  ),
  light: (
    background-color: variables.$white,
    text-color: variables.$black,
    blue-text: variables.$blue,
    logo-color: variables.$black
  )
);

@mixin theme-aware($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($themes, $theme-name), $color)
    }
  }
}

@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}