@import './src/variables.scss';

html {
  width: 100vw;
  overflow-x: hidden;
}

header, body, footer {
  flex-shrink: 0;
}

body {
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-family: $brand-font;
  color: $black;
  background-color: $white;
}

// Global class names
.blueText {
  color: $blue;
}