@use '../../sass/main.scss';

.project-first {
  font-size: 14px;
  margin-bottom: 5vw;
  width: 100vw;

  h1 {
    font-size: 48px;
    margin: 0;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
  }

  p, a {
    display: block;
    font-size: 14px;
  }

  p:not(:first-of-type) {
    margin-bottom: 25px;
  }

  .project-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2vw auto;
    width: 95%;

    div {
      margin-bottom: 2vw;
    }
  }

  .project-info {
    align-self: center;
    width: 450px;
  }

  .featured-image {
    align-self: center;
    width: 700px;

    @media (max-width: 1210px) {
      width: 100%;
    }
  }
}

.project-second {
  background: main.$dark-blue;
  color: main.$white;
  margin-bottom: 5vw;
  padding: 1vw 0;
  width: 100vw;

  h2 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
  }

  img {
    margin: 2.5vw auto;
    max-width: 90%;
  }
}
