@use '../../sass/main.scss';

.topBar {
  align-items: center;
  align-content: center;
  background-color: main.$blue;
  color: main.$white;
  display: flex;
  font-size: 14px;
  justify-content: center;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100vw;
}

.topBar div {
  display: flex;
  align-self: center;
  align-content: center;
}

// Toggle styles
#switch[type=checkbox]{
	height: 0;
  width: 0;
	visibility: hidden;
}

#switchLabel {
	cursor: pointer;
	text-indent: -9999px;
	width: 24px;
	height: 12px;
	background: main.$med-blue;
	display: block;
	border-radius: 100px;
  position: relative;
  -webkit-transition: all 0.5s ease 200ms;
	-o-transition: all 0.5s ease 200ms;
	transition: all 0.5s ease 200ms;
}

#switchLabel:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	background: main.$white;
	border-radius: 20px;
	-webkit-transition: all 0.5s ease 200ms;
	-o-transition: all 0.5s ease 200ms;
	transition: all 0.5s ease 200ms;
}

#switch:checked + #switchLabel {
  -webkit-transition: all 0.5s ease 200ms;
	-o-transition: all 0.5s ease 200ms;
	transition: all 0.5s ease 200ms;
	background: main.$dark-blue;
}

#switch:checked + #switchLabel:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}