@use '../../sass/main.scss';

.top-bar {
  align-items: center;
  align-content: center;
  background-color: main.$blue;
  color: main.$white;
	display: flex;
  font-size: 14px;
  justify-content: center;
  padding: 5px;
  position: fixed;
  top: 0;
	width: 100vw;
	z-index: 2;

	div {
		align-content: center;
		align-self: center;
		display: flex;
	}
}

// Toggle styles
#switch[type=checkbox]{
	height: 0;
	visibility: hidden;
  width: 0;
}

#switch-label {
	background: main.$med-blue;
	border-radius: 100px;
	cursor: pointer;
	display: block;
	height: 12px;
	position: relative;
	text-indent: -9999px;
	transition: all 0.5s ease 200ms;
	-o-transition: all 0.5s ease 200ms;
	-webkit-transition: all 0.5s ease 200ms;
	width: 24px;
}

#switch-label:after {
	background: main.$white;
	border-radius: 20px;
	content: '';
	height: 8px;
	left: 2px;
	position: absolute;
	top: 2px;
	transition: all 0.5s ease 200ms;
	-o-transition: all 0.5s ease 200ms;
	-webkit-transition: all 0.5s ease 200ms;
	width: 8px;
}

#switch:checked + #switch-label {
	background: main.$dark-blue;
	transition: all 0.5s ease 200ms;
	-o-transition: all 0.5s ease 200ms;
  -webkit-transition: all 0.5s ease 200ms;
}

#switch:checked + #switch-label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}