header {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto 0 auto;
}

@media (max-width: 768px) {
  header {
    height: auto;
    justify-content: center;
  }
}