@use '../../sass/main.scss';

.projects-grid {
  margin: 0 auto;
  width: 95%;

  :nth-child(even) {
    align-items: flex-end;
    flex-wrap: wrap-reverse;
  }
}

.projects-grid-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 50px auto;

  div {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 350px;
    padding: 10px;
    text-align: left;

    button {
      background: none;
      border: 2px solid main.$blue;
      font-size: 18px;
      height: 50px;
      margin-top: 25px;
      transition: background 0.5s;
      width: 200px;

      a {
        text-decoration: none;
      }

      &:hover {
        background: main.$blue;
        cursor: pointer;
      }
    }

    h3 {
      font-size: 60px;
      margin: 0;
    }

    h4 {
      font-size: 18px;
      font-weight: 300;
      margin: 0;
    }

    p {
      color: main.$grey;
      font-size: 14px;
      letter-spacing: 3px;
      text-align: left;
      text-transform: uppercase;
    }
  }

  img {
    width: 750px;

    @media (max-width: 1180px) {
      width: 100%;
    }
  }
}