@use '../../sass/main.scss';

footer {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: env(safe-area-inset-bottom);
  position: absolute;
  text-align: center;
  width: 100%;

  .footer-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
      box-sizing: border-box;
      display: flex;
      flex: 1;
      width: 150px;
    }

    div:nth-child(1) {
      justify-content: flex-end;
    }

    div:nth-child(2) {
      justify-content: center;
    }
  }

  .copyright {
    color: main.$grey;
    font-size: 14px;
  }
}