@use '../../sass/main.scss';

footer {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: env(safe-area-inset-bottom);
  position: absolute;
  text-align: center;
  width: 100%;

  .footer-partial {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h4 {
      font-family: main.$primary-font;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 2px;
      margin: auto;
    }
  }

  .footer-nav {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    width: 95%;
  }

  .copyright {
    color: main.$grey;
    font-size: 14px;
  }
}