@use '../../sass/main.scss';

footer {
  background: main.$med-blue;
  bottom: 0;
  color: main.$white;
  height: auto;
  margin: 0 auto;
  padding: 1em 0;
  padding-bottom: env(safe-area-inset-bottom, 20px);
  position: absolute;
  text-align: center;
  width: 100%;
}