/* Font Stack */
@import url('https://rsms.me/inter/inter.css');
$brand-font: 'Inter', sans-serif;

/* Colors */
$blue: #0076cf;
$med-blue: #004b87;
$dark-blue: #002e5d;
$grey: #5b6770;
$dark-grey: #25282a;
$black: #202124;
$white: #fafafa;